<h1>Jogador Atual: {{ player }} </h1>

<select [(ngModel)]="difficulty" (change)="changeDifficulty(difficulty)">
    <option value="easy">Fácil</option>
    <option value="medium">Médio</option>
    <option value="hard">Difícil</option>
  </select>
  <br /> <br />

<button class="button-5" (click)="newGame()">Começar Novo Jogo </button>

<main>
    <app-square
        *ngFor="let val of squares; let i = index;"
        [value]="val"
        (click)="makeMove(i)">
    </app-square>
</main>

<h2 *ngIf="winner">Jogador {{ winner }} ganhou! </h2>